<ng-container
    *ngIf="baseFiltersState$ | async as baseFiltersState; else filtersLoading"
>
    <ng-container
        *ngIf="filtersState$ | async as filtersState; else filtersLoading"
    >
        <div
            class="absolute flex flex-col w-64 gap-2 -translate-x-full -left-4"
        >
            <div
                class="flex items-center self-center justify-center w-full gap-4"
            >
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>

                <div class="flex gap-1">
                    <button
                        type="button"
                        (click)="
                            clearAllCheckboxFiltersOptions();
                            clearAllRangeFiltersValues()
                        "
                        class="flex items-center text-lg font-semibold transition-colors duration-300 whitespace-nowrap hover:text-red-600"
                    >
                        Clear all filters
                    </button>
                    <div
                        tooltip="Click any specific filter, or it's values to clear it."
                        placement="bottom"
                        class="w-8 h-8 mt-1 transition-transform duration-300 group"
                    >
                        <svg
                            viewBox="0 -0.5 25 25"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-600"
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.5 11V13C5.5 16.3137 8.18629 19 11.5 19H13.5C16.8137 19 19.5 16.3137 19.5 13V11C19.5 7.68629 16.8137 5 13.5 5H11.5C8.18629 5 5.5 7.68629 5.5 11Z"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-600"
                                d="M12.5 12V16"
                                stroke-width="1.5"
                                stroke-linecap="round"
                            />
                            <path
                                class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-600"
                                d="M12.5 9.5C12.2243 9.5 12 9.2757 12 9C12 8.7243 12.2243 8.5 12.5 8.5C12.7757 8.5 13 8.7243 13 9C13 9.2757 12.7757 9.5 12.5 9.5Z"
                            />
                            <path
                                class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-600"
                                d="M12.5 8C13.0523 8 13.5 8.44772 13.5 9C13.5 9.55228 13.0523 10 12.5 10C11.9477 10 11.5 9.55228 11.5 9C11.5 8.44772 11.9477 8 12.5 8Z"
                            />
                        </svg>
                    </div>
                </div>

                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
            </div>

            <div class="flex flex-col gap-2">
                <ng-container
                    *ngFor="
                        let checkboxDropdown of filtersState.checkboxFilters
                            | keyvalue;
                        let higherIndex = index
                    "
                >
                    <ng-container
                        *ngIf="
                            hasCheckedOption(checkboxDropdown.value.name)
                                | async
                        "
                    >
                        <div class="flex flex-wrap gap-1">
                            <button
                                type="button"
                                class="transition-all hover:opacity-100 opacity-60 hover:text-red-600"
                                (mouseover)="
                                    checkboxFiltersHoverStates[
                                        higherIndex
                                    ] = true
                                "
                                (mouseleave)="
                                    checkboxFiltersHoverStates[
                                        higherIndex
                                    ] = false
                                "
                                (click)="
                                    clearAllCheckboxFilterOptions(
                                        checkboxDropdown.value.name
                                    );
                                    checkboxFiltersHoverStates[
                                        higherIndex
                                    ] = false
                                "
                            >
                                {{ checkboxDropdown.value.displayedLabel }}:
                            </button>

                            <ng-container
                                *ngFor="
                                    let option of checkboxDropdown.value
                                        .options;
                                    let i = index
                                "
                            >
                                <ng-container
                                    *ngIf="option.status === 'checked'"
                                >
                                    <button
                                        type="button"
                                        (click)="
                                            clearSingleCheckboxFilterOption(
                                                checkboxDropdown.value.name,
                                                i
                                            )
                                        "
                                        class="flex transition-colors hover:text-red-600"
                                        [ngClass]="{
                                        'text-red-600': checkboxFiltersHoverStates[higherIndex] === true,
                                    }"
                                    >
                                        {{ option.name | titlecase }}
                                        <div
                                            *ngIf="
                                                i !==
                                                checkboxDropdown.value.options
                                                    .length -
                                                    1
                                            "
                                        >
                                            ,
                                        </div>
                                    </button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <div class="flex flex-col gap-2 mb-4">
                <ng-container
                    *ngFor="
                        let rangeFilter of filtersState.rangeFilters | keyvalue;
                        let i = index
                    "
                >
                    <ng-container *ngIf="i % 2 === 0">
                        <ng-container
                            *ngIf="
                                (rangeFilter.value.dynamicProperties
                                    .minValue !==
                                    baseFiltersState.rangeFilters[
                                        rangeFilter.key
                                    ].dynamicProperties.minValue ||
                                    rangeFilter.value.dynamicProperties
                                        .maxValue !==
                                        baseFiltersState.rangeFilters[
                                            rangeFilter.key
                                        ].dynamicProperties.maxValue) &&
                                (filtersState.rangeFilters[
                                    rangeFilter.value.staticProperties
                                        .generalName + 'From'
                                ].dynamicProperties.canShowValue === true ||
                                    filtersState.rangeFilters[
                                        rangeFilter.value.staticProperties
                                            .generalName + 'UpTo'
                                    ].dynamicProperties.canShowValue === true)
                            "
                        >
                            <div class="flex gap-1">
                                <button
                                    class="transition-all opacity-60 hover:text-red-600 hover:opacity-100"
                                    (mouseover)="
                                        rangeFiltersHoverStates[i] = true
                                    "
                                    (mouseleave)="
                                        rangeFiltersHoverStates[i] = false
                                    "
                                    (click)="
                                        clearAllRangeFilterValues(
                                            rangeFilter.value.staticProperties
                                                .generalName
                                        );
                                        rangeFiltersHoverStates[i] = false
                                    "
                                >
                                    {{
                                        rangeFilter.value.staticProperties
                                            .generalName
                                            | camelcaseToNormalCapitalized
                                    }}:
                                </button>
                                <div
                                    [ngClass]="{
                                        'text-red-600': rangeFiltersHoverStates[i] === true,
                                    }"
                                >
                                    <button
                                        (click)="
                                            clearMinRangeFilterValue(
                                                rangeFilter.value
                                                    .staticProperties
                                                    .generalName
                                            )
                                        "
                                        class="transition-colors hover:text-red-600"
                                    >
                                        {{
                                            rangeFilter.value.dynamicProperties
                                                .minValue
                                        }}
                                    </button>
                                    <span
                                        class="transition-colors hover:text-red-600"
                                    >
                                        -
                                    </span>
                                    <button
                                        (click)="
                                            clearMaxRangeFilterValue(
                                                rangeFilter.value
                                                    .staticProperties
                                                    .generalName
                                            )
                                        "
                                        class="transition-colors hover:text-red-600"
                                    >
                                        {{
                                            rangeFilter.value.dynamicProperties
                                                .maxValue
                                        }}
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <div class="grid h-48 grid-cols-5">
            <app-dropdown-menu
                *ngFor="
                    let checkboxDropdown of filtersState.checkboxFilters
                        | keyvalue;
                    let i = index
                "
                [dropdownName]="checkboxDropdown.value.displayedLabel"
                [dropdownWidth]="62"
                [ngClass]="'z-' + (4 - Math.floor(i / 5)) * 10"
            >
                <app-checkbox-input
                    [name]="checkboxDropdown.value.name"
                    [isMultiSelect]="checkboxDropdown.value.isMultiSelect"
                    [options]="checkboxDropdown.value.options"
                ></app-checkbox-input>
            </app-dropdown-menu>
            <app-dropdown-menu
                *ngFor="
                    let rangeDropdown of filtersState.rangeFilters | keyvalue;
                    let i = index
                "
                [canShowValue]="
                    rangeDropdown.value.dynamicProperties.canShowValue
                "
                [dropdownName]="
                    rangeDropdown.value.staticProperties.displayedLabel
                "
                [dropdownWidth]="62"
                [ngClass]="'z-' + (4 - Math.floor((i + 4) / 5)) * 10"
            >
                <app-range-input
                    *ngIf="
                        rangeDropdown.value.staticProperties.generalName !==
                        'price'
                    "
                    [minVal]="rangeDropdown.value.dynamicProperties.minValue"
                    [maxVal]="rangeDropdown.value.dynamicProperties.maxValue"
                    [minOrMax]="rangeDropdown.value.staticProperties.minOrMax"
                    [ngxMask]="rangeDropdown.value.staticProperties.mask"
                    [suffix]="rangeDropdown.value.staticProperties.suffix"
                    [filterName]="rangeDropdown.value.staticProperties.name"
                    [generalFilterName]="
                        rangeDropdown.value.staticProperties.generalName
                    "
                ></app-range-input>
            </app-dropdown-menu>
        </div>
    </ng-container>
</ng-container>

<ng-template #filtersLoading>
    <div class="grid h-32 grid-cols-5">
        <div
            *ngFor="let x of [].constructor(10)"
            data-placeholder
            class="relative p-3 mb-2 overflow-hidden text-lg rounded-md text-neutral-900 w-62 bg-neutral-900"
        >
            loading placeholder
        </div>
    </div>
</ng-template>
