<div
    class="flex flex-col items-center overflow-hidden transition-all duration-300 border-2 border-indigo-700 border-solid rounded-md bg-neutral-950 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30"
>
    <button
        (click)="toggleExpand(list)"
        class="flex items-center px-3 py-3 transition-colors duration-300 rounded gap-28 hover:bg-neutral-900"
    >
        <div>{{ dropdownName }}</div>
        <div class="w-8 h-8">
            <img
                src="assets/svgs/down-arrow-5-svgrepo-com.svg"
                class="w-full h-full transition-transform duration-300 group-hover:rotate-180"
                alt="arrow icon"
            />
        </div>
    </button>
    <div #list class="w-full h-0 overflow-hidden transition-all duration-300">
        <ul *ngFor="let option of dropdownOptions" class="w-full">
            <label
                class="flex items-center justify-between w-full px-4 py-4 transition-colors duration-300 cursor-pointer hover:bg-neutral-900 last:rounded-b-md"
            >
                <input
                    type="checkbox"
                    class="w-4 h-4 bg-white rounded-md cursor-pointer accent-indigo-600 ring-indigo-600"
                />
                <div class="cursor-pointer">{{ option }}</div>
            </label>
        </ul>
    </div>
</div>
