<div class="flex h-full">
    <div
        class="sticky top-0 flex flex-col h-screen gap-6 p-6 text-lg bg-black bg-opacity-50 rounded-md w-96 bg-clip-padding backdrop-filter backdrop-blur-md"
    >
        <a routerLink="/home" class="flex items-center self-center gap-4">
            <div class="w-10 h-10">
                <img
                    src="assets/svgs/key-svgrepo-com.svg"
                    class="w-full h-full transition-transform hover:rotate-180"
                    alt="logo"
                />
                <!-- <img
                    src="assets/svgs/key.svg"
                    class="w-full h-full transition-transform hover:rotate-180"
                    alt="logo"
                /> -->
            </div>
            <div class="text-2xl font-semibold">Macio Wearhouse</div>
        </a>
        <div class="border-2 border-white border-solid rounded-md"></div>
        <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col gap-4">
                <a
                    routerLink="offers"
                    class="flex items-center gap-6 p-2 transition-all rounded-md hover:bg-indigo-700 opacity-80 hover:opacity-100 focus:bg-indigo-700 focus:opacity-100"
                >
                    <div class="w-8 h-8">
                        <!-- <img
                            src="assets/svgs/BMW front.svg"
                            class="w-full h-full"
                            alt="car icon"
                        /> -->
                        <img
                            src="assets/svgs/car-svgrepo-com.svg"
                            class="w-full h-full"
                            alt="car icon"
                        />
                    </div>
                    <div>Your offers</div>
                </a>
                <a
                    routerLink="favourites"
                    class="flex items-center gap-6 p-2 transition-all rounded-md hover:bg-indigo-700 opacity-80 hover:opacity-100 focus:bg-indigo-700 focus:opacity-100"
                >
                    <div class="w-8 h-8">
                        <img
                            src="assets/svgs/bookmark-svgrepo-com.svg"
                            class="w-full h-full"
                            alt="car icon"
                        />
                    </div>
                    <div>Favourites</div>
                </a>
                <a
                    routerLink="settings"
                    class="flex items-center gap-6 p-2 transition-all rounded-md hover:bg-indigo-700 opacity-80 hover:opacity-100 focus:bg-indigo-700 focus:opacity-100"
                >
                    <div class="w-9 h-9">
                        <img
                            src="assets/svgs/setting-svgrepo-com.svg"
                            class="w-full h-full"
                            alt="settings icon"
                        />
                    </div>
                    <div>Settings</div>
                </a>
            </div>

            <button
                (click)="onLogout()"
                class="flex items-center gap-6 p-2 transition-all rounded-md hover:bg-indigo-700 opacity-80 hover:opacity-100 focus:bg-indigo-700 focus:opacity-100"
            >
                <div class="w-8 h-8">
                    <img
                        src="assets/svgs/left-arrow-alt-svgrepo-com.svg"
                        class="w-full h-full"
                        alt="settings icon"
                    />
                </div>
                <div>Log out</div>
            </button>
        </div>
    </div>
    <div class="w-full">
        <router-outlet></router-outlet>
    </div>
    <button
        (click)="creatorOpenState = true"
        class="absolute transition-transform w-14 h-14 hover:rotate-180 bottom-4 right-4"
    >
        <img
            src="assets/svgs/add-svgrepo-com.svg"
            class="w-full h-full"
            alt="plus icon"
        />
    </button>
    <!-- <button
        class="absolute p-2 transition-all bg-indigo-700 rounded-md bottom-4 right-4"
    >
        <div class="w-8 h-8">
            <img
                src="assets/svgs/add-svgrepo-com.svg"
                class="w-full h-full"
                alt="plus icon"
            />
        </div>
    </button> -->

    <!-- <button
        class="absolute flex items-center justify-between gap-10 p-2 transition-all bg-indigo-700 rounded-md bottom-4 right-4 hover:bg-indigo-600 opacity-80 hover:opacity-100"
    >
        <div class="ml-2 font-semibold">Add offer</div>
        <div class="w-8 h-8">
            <img
                src="assets/svgs/add-svgrepo-com.svg"
                class="w-full h-full"
                alt="plus icon"
            />
        </div>
    </button> -->
</div>

<app-offer-creator
    *ngIf="creatorOpenState"
    class="absolute flex items-center justify-center w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter"
></app-offer-creator>
