<div class="pt-24 h-screen">
    <div
        class="w-96 bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 p-6 h-full flex flex-col gap-6 text-lg"
    >
        <div class="flex items-center gap-4 self-center">
            <div class="w-10 h-10">
                <img
                    src="assets/svgs/key.svg"
                    class="w-full h-full hover:rotate-180 transition-transform"
                    alt="logo"
                />
            </div>
            <div class="text-2xl font-semibold">Macio Wearhouse</div>
        </div>
        <div class="border-2 border-white border-solid rounded-md"></div>
        <button class="flex items-center gap-6 hover:underline">
            <div class="w-8 h-8">
                <img
                    src="assets/svgs/car-loan-svgrepo-com.svg"
                    class="w-full h-full"
                    alt="car icon"
                />
            </div>
            <div>Your offers</div>
        </button>
        <button class="flex items-center gap-6 hover:underline">
            <div class="w-8 h-8">
                <img
                    src="assets/svgs/cog-svgrepo-com.svg"
                    class="w-full h-full"
                    alt="settings icon"
                />
            </div>
            <div>Settings</div>
        </button>
    </div>
    <div></div>
</div>
