<div
    *ngIf="user$ | async as user"
    class="h-full pb-24 pt-36"
    [ngClass]="{
        'h-screen': user.offers.length === 0,
    }"
>
    <div
        class="flex flex-col gap-8 p-4 mx-auto rounded-md shadow-2xl drop-shadow-xl max-w-7xl shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
    >
        <div class="flex justify-between">
            <div class="flex gap-4">
                <div
                    class="border-4 border-white border-solid rounded-full w-36 h-36"
                >
                    <img
                        src="assets/svgs/user-5-svgrepo-com.svg"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div class="flex flex-col gap-1">
                    <div class="text-5xl font-semibold">
                        {{
                            user.name.at(0)?.toUpperCase() + user.name.slice(1)
                        }}
                        {{
                            user.lastname.at(0)?.toUpperCase() +
                                user.lastname.slice(1)
                        }}
                    </div>
                    <div class="text-lg opacity-70">@{{ user.username }}</div>
                </div>
            </div>
            <div>other user info</div>
        </div>
        <div class="flex items-center justify-between w-full gap-4">
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
            <div class="text-3xl font-medium text-center whitespace-nowrap">
                user offers
            </div>
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
        </div>
        <div>
            <ng-container *ngIf="user.offers.length > 0; else noOffersTemplate">
                <app-offer
                    *ngFor="let offer of user.offers"
                    class="transition-transform duration-300 hover:translate-y-2"
                    [offerData]="offer"
                ></app-offer>
            </ng-container>

            <ng-template #noOffersTemplate>
                <div>no offers</div>
            </ng-template>
        </div>
    </div>
</div>
