<div class="flex flex-col">
    <div
        class="fixed z-50 flex items-center justify-between w-full p-4 rounded-md bg-neutral-950 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30"
    >
        <div class="flex items-center gap-2">
            <div class="w-14 h-14">
                <img
                    src="assets/svgs/key-svgrepo-com.svg"
                    class="w-full h-full transition-transform hover:rotate-180"
                    alt="logo"
                />
            </div>
            <a routerLink="/home" class="text-2xl font-semibold"
                >Macio Wearhouse</a
            >
        </div>

        <app-search-bar
            *ngIf="searchBarVisibility$ | async"
            class="absolute z-20 flex flex-col items-center w-1/4 translate-x-1/2 right-1/2 top-4"
        ></app-search-bar>

        <div *ngIf="!(userFirstName$ | async)">
            <a
                routerLink="login"
                class="mx-8 text-lg transition-colors hover:text-indigo-700"
            >
                Log in
            </a>
            <a
                routerLink="signup"
                class="px-8 py-2 text-lg transition-colors bg-indigo-700 rounded-md hover:bg-indigo-800"
            >
                Sign up
            </a>
        </div>

        <button
            *ngIf="userFirstName$ | async as userFirstName"
            (click)="navigateToDashboard()"
            class="flex items-center gap-2"
        >
            <div class="text-xl">{{ userFirstName }}</div>
            <div class="w-14 h-14">
                <img
                    src="assets/svgs/user-5-svgrepo-com.svg"
                    class="w-full h-full"
                    alt="user icon"
                />
            </div>
        </button>

        <div
            *ngIf="isSearchBarFocused$ | async"
            (click)="setFocusState(false)"
            class="absolute top-0 left-0 w-screen h-screen backdrop-brightness-50 backdrop-filter"
        ></div>
    </div>
</div>
