<div
    class="bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 p-4 flex justify-between items-center fixed w-full"
>
    <div class="flex items-center gap-4">
        <div class="w-10 h-10">
            <img src="assets/svgs/key.svg" class="w-full h-full" alt="logo" />
        </div>
        <div class="text-2xl font-semibold">Macio Wearhouse</div>
    </div>
    <div class="flex gap-16 text-lg">
        <a routerLink="/about" class="hover:underline">About Us</a>
        <a routerLink="/pricing" class="hover:underline">Pricing</a>
        <a routerLink="/work" class="hover:underline">Work For Us</a>
        <a routerLink="/contact" class="hover:underline">Contact</a>
    </div>
    <div>
        <a routerLink="login" class="mx-8 text-lg hover:text-indigo-700">
            Log in
        </a>
        <a
            routerLink="signup"
            class="px-8 py-2 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg"
        >
            Sign up
        </a>
    </div>
</div>
