<div
    class="bg-black rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 p-4 flex justify-between items-center fixed w-full"
>
    <div class="flex items-center gap-4">
        <div class="w-10 h-10">
            <img
                src="assets/svgs/key.svg"
                class="w-full h-full hover:rotate-180 transition-transform"
                alt="logo"
            />
        </div>
        <div class="text-2xl font-semibold">Macio Wearhouse</div>
    </div>
    <div class="flex items-center relative w-1/4">
        <input
            type="text"
            placeholder="Search for a specific car..."
            class="p-4 bg-neutral-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 w-full focus:outline focus:outline-indigo-700"
        />
        <button class="w-10 h-10 absolute right-2">
            <img
                src="assets/svgs/search.svg"
                class="w-full h-full"
                alt="search icon"
            />
        </button>
    </div>
    <div>
        <a routerLink="login" class="mx-8 text-lg hover:text-indigo-700">
            Log in
        </a>
        <a
            routerLink="signup"
            class="px-8 py-2 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg"
        >
            Sign up
        </a>
    </div>
</div>
