<div
    *ngIf="fullscreenPreview"
    cdkTrapFocus
    class="absolute z-50 flex items-center justify-center w-full h-full bg-neutral-950"
>
    <button
        (click)="imageFullscreen()"
        class="absolute w-12 h-12 right-2 top-2"
    >
        <img
            src="assets/svgs/cross-svgrepo-com(1).svg"
            class="w-full h-full"
            alt="cross icon"
        />
    </button>
    <button
        (click)="previousImage()"
        *ngIf="offer.images.length > 1"
        type="button"
        class="absolute left-0 w-24 h-24 transition-all duration-300 -translate-y-1/2 top-1/2 hover:-translate-x-1 hover:scale-105"
    >
        <img
            src="assets/svgs/arrow-left-5-svgrepo-com.svg"
            class="w-full h-full"
            alt="left arrow icon"
        />
    </button>
    <button
        (click)="nextImage()"
        *ngIf="offer.images.length > 1"
        type="button"
        class="absolute right-0 w-24 h-24 transition-all duration-300 -translate-y-1/2 top-1/2 hover:translate-x-1 hover:scale-105"
    >
        <img
            src="assets/svgs/right-arrow-svgrepo-com.svg"
            class="w-full h-full"
            alt="right arrow icon"
        />
    </button>
    <div class="flex flex-col w-8/12 gap-2">
        <div
            class="relative flex items-center justify-center w-full rounded-md shadow-md drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
        >
            <button type="button" (click)="imageFullscreen()">
                <img
                    [src]="offer.images[activeImageIndex]"
                    class="h-full rounded-md"
                    [alt]="offer.car.carBrand + offer.car.brandModel + 'photo'"
                />
            </button>
        </div>
        <div class="flex gap-2">
            <button
                type="button"
                *ngFor="let image of offer.images; let i = index"
                (click)="clickedImageChange(i)"
                class="w-1/4 rounded-md shadow-md max-h-min drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
                [ngClass]="{
                'border-indigo-700 border-solid border-2': activeImageIndex === i,
            }"
            >
                <img
                    [src]="image"
                    class="object-cover w-full h-40 rounded-md"
                    [alt]="offer.car.carBrand + offer.car.brandModel + 'photo'"
                />
            </button>

            <ng-container *ngIf="offer.images.length < 4">
                <div
                    *ngFor="
                        let emptyPlaceholder of placeholdersAmount.slice(
                            0,
                            offer.images.length
                        )
                    "
                    class="w-1/4 h-full rounded-md shadow-md drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
                ></div>
            </ng-container>
        </div>
    </div>
</div>

<div *ngIf="offer" class="h-full pb-24 pt-36">
    <div
        class="flex flex-col gap-16 p-4 mx-auto rounded-md shadow-2xl drop-shadow-xl max-w-7xl shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
    >
        <div class="flex gap-4">
            <div class="flex flex-col w-8/12 gap-2">
                <div
                    class="relative flex items-center justify-center w-full rounded-md shadow-md drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
                >
                    <button
                        (click)="previousImage()"
                        *ngIf="offer.images.length > 1"
                        type="button"
                        class="absolute left-0 w-12 h-12 transition-all duration-300 translate-y-1/2 top-1/2 hover:-translate-x-1 hover:scale-105"
                    >
                        <img
                            src="assets/svgs/arrow-left-5-svgrepo-com.svg"
                            class="w-full h-full"
                            alt="left arrow icon"
                        />
                    </button>
                    <button
                        (click)="nextImage()"
                        *ngIf="offer.images.length > 1"
                        type="button"
                        class="absolute right-0 w-12 h-12 transition-all duration-300 translate-y-1/2 top-1/2 hover:translate-x-1 hover:scale-105"
                    >
                        <img
                            src="assets/svgs/right-arrow-svgrepo-com.svg"
                            class="w-full h-full"
                            alt="right arrow icon"
                        />
                    </button>

                    <button type="button" (click)="imageFullscreen()">
                        <img
                            [src]="offer.images[activeImageIndex]"
                            class="rounded-md h-96"
                            [alt]="
                                offer.car.carBrand +
                                offer.car.brandModel +
                                'photo'
                            "
                        />
                    </button>
                </div>
                <div class="flex gap-2">
                    <button
                        type="button"
                        *ngFor="let image of offer.images; let i = index"
                        (click)="clickedImageChange(i)"
                        class="w-1/4 rounded-md shadow-md max-h-min drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
                        [ngClass]="{
                            'border-indigo-700 border-solid border-2': activeImageIndex === i,
                        }"
                    >
                        <img
                            [src]="image"
                            class="object-cover w-full h-40 rounded-md"
                            [alt]="
                                offer.car.carBrand +
                                offer.car.brandModel +
                                'photo'
                            "
                        />
                    </button>

                    <ng-container *ngIf="offer.images.length < 4">
                        <div
                            *ngFor="
                                let emptyPlaceholder of placeholdersAmount.slice(
                                    0,
                                    offer.images.length
                                )
                            "
                            class="w-1/4 h-full rounded-md shadow-md drop-shadow-md shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter bg-neutral-950"
                        ></div>
                    </ng-container>
                </div>
            </div>

            <div class="flex flex-col justify-between w-4/12">
                <div class="flex flex-col items-center gap-4">
                    <div class="flex items-center self-center gap-1">
                        <div class="text-3xl font-semibold">
                            {{ offer.car.carBrand }}
                            {{ offer.car.brandModel }}
                        </div>
                        <div class="w-4 h-4">
                            <img
                                src="assets/svgs/dot-small-svgrepo-com.svg"
                                class="w-full h-full"
                                alt="dot icon"
                            />
                        </div>
                        <div class="text-2xl font-medium">
                            {{ offer.car.productionYear }}
                        </div>
                    </div>
                    <div
                        class="w-full border border-white border-solid rounded-md"
                    ></div>
                    <div class="flex flex-col items-center gap-2">
                        <div class="flex gap-1">
                            <div class="text-6xl font-semibold">
                                {{ offer.price | numberFormat }}
                            </div>
                            <div class="flex flex-col items-start mt-1">
                                <div class="text-lg">ZŁ</div>
                            </div>
                        </div>
                        <div class="text-lg font-light">or</div>
                        <div class="flex flex-col items-center">
                            <div class="flex gap-1 opacity-95">
                                <div class="text-4xl font-medium">
                                    {{
                                        math.trunc(offer.price / 36)
                                            | numberFormat
                                    }}
                                </div>
                                <div class="mt-0.5 text-lg">ZŁ</div>
                                <div class="flex font-light">
                                    <div class="mt-0.5 text-3xl">/</div>
                                    <div class="self-end text-2xl">month</div>
                                </div>
                            </div>
                            <div class="text-sm font-extralight opacity-80">
                                for 3 years
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center gap-4">
                    <div class="flex items-center gap-2 opacity-90">
                        <div
                            class="w-10 h-10 border-2 border-white border-solid rounded-full"
                        >
                            <img
                                src="assets/svgs/user-5-svgrepo-com.svg"
                                class="w-full h-full"
                                alt=""
                            />
                        </div>
                        <div class="text-2xl font-medium">User</div>
                        <div class="w-4 h-4">
                            <img
                                src="assets/svgs/dot-small-svgrepo-com.svg"
                                class="w-full h-full"
                                alt="dot icon"
                            />
                        </div>
                        <div class="text-2xl">Seller from 2019</div>
                    </div>

                    <div class="flex flex-col items-center">
                        <button
                            class="text-lg font-medium transition-colors duration-300 hover:text-indigo-600"
                        >
                            see profile
                        </button>
                        <div class="mb-2 text-lg font-light opacity-80">or</div>
                        <button
                            class="flex items-center gap-1 px-6 py-3 text-xl font-semibold transition-colors duration-300 bg-indigo-700 rounded-md cursor-pointer hover:bg-indigo-600"
                        >
                            <div class="w-8 h-8 mt-1">
                                <img
                                    src="assets/svgs/comment-alt-lines-svgrepo-com.svg"
                                    class="w-full h-full"
                                    alt="message icon"
                                />
                            </div>
                            <div>Contact the seller</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center gap-8">
            <div class="flex items-center justify-between w-full gap-4">
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
                <div
                    class="text-5xl font-semibold text-center whitespace-nowrap"
                >
                    Technical details
                </div>
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
            </div>
            <div class="flex gap-36">
                <div class="flex flex-col self-start gap-4">
                    <div class="flex gap-1">
                        <div>Car brand:</div>
                        <div>{{ offer.car.carBrand }}</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Brand model:</div>
                        <div>{{ offer.car.brandModel }}</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Production year:</div>
                        <div>{{ offer.car.productionYear }}</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Mileage:</div>
                        <div>{{ offer.car.mileage | numberFormat }} km</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Gearbox Type:</div>
                        <div>{{ offer.car.gearboxType }}</div>
                    </div>
                </div>
                <div class="flex flex-col self-start gap-4">
                    <div class="flex gap-1">
                        <div>Fuel type:</div>
                        <div>{{ offer.car.fuelType }}</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Seats:</div>
                        <div>{{ offer.car.seats }}</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Engine capacity:</div>
                        <div>
                            {{ offer.car.engineCapacity | numberFormat }} cm³
                        </div>
                    </div>
                    <div class="flex gap-1">
                        <div>Horse power:</div>
                        <div>{{ offer.car.horsePower | numberFormat }} hp</div>
                    </div>
                    <div class="flex gap-1">
                        <div>Offer id:</div>
                        <div>{{ offer.offerId }}</div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between w-full gap-4">
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
                <div
                    class="text-4xl font-semibold text-center whitespace-nowrap"
                >
                    Description
                </div>
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
            </div>
            <div class="self-center w-1/2">
                {{ offer.offerDescription }}
            </div>
            <div class="flex items-center justify-between w-full gap-4">
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
                <div class="text-3xl font-medium text-center whitespace-nowrap">
                    Location
                </div>
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
            </div>
            <div
                class="flex items-center justify-center w-1/2 h-64 rounded-md shadow-2xl bg-neutral-950 shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter"
            >
                Google Maps API
            </div>
            <div class="flex items-center justify-between w-full gap-4">
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
                <div class="text-2xl font-medium text-center whitespace-nowrap">
                    Others
                </div>
                <div
                    class="w-full mt-1 border border-white border-solid rounded-md"
                ></div>
            </div>
            <div class="flex gap-4">
                <a
                    routerLink=""
                    *ngFor="let image of images2"
                    class="flex flex-col transition-transform duration-300 rounded-md shadow-2xl bg-neutral-950 shadow-black backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter hover:-translate-y-2 hover:scale-105"
                >
                    <div>
                        <img
                            src="https://www.bmw-m.com/content/dam/bmw/marketBMW_M/common/topics/magazine-article-pool/2018/bmw-m2-coupe-edition-black-shadow/bmw-m2-coup%C3%A9-black-shadow-stage-teaser-si.jpg"
                            class="w-full h-full rounded-md"
                            alt=""
                        />
                    </div>

                    <!-- Design 1 -->
                    <!-- <div class="flex flex-col gap-4 p-2">
                        <div class="flex justify-between">
                            <div class="flex gap-1 text-lg">
                                <div>BMW</div>
                                <div>Alpina</div>
                            </div>
                            <div class="flex flex-col items-end">
                                <div>2018</div>
                                <div class="text-sm opacity-80">298 000 km</div>
                            </div>
                        </div>
                        <div class="flex gap-1">
                            <div class="text-2xl font-semibold">300 000</div>
                            <div class="flex flex-col items-start mt-1">
                                <div class="text-xs">ZŁ</div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Design 2 -->
                    <div class="flex flex-col p-2">
                        <div class="flex justify-between">
                            <div class="flex gap-1 text-lg">
                                <div>BMW</div>
                                <div>Alpina</div>
                            </div>
                        </div>
                        <div
                            class="flex items-end gap-1 mb-4 text-sm opacity-80"
                        >
                            <div>2018</div>
                            <div class="w-4 h-4">
                                <img
                                    src="assets/svgs/dot-small-svgrepo-com.svg"
                                    class="w-full h-full"
                                    alt=""
                                />
                            </div>
                            <div>298 000 km</div>
                        </div>
                        <div class="flex gap-1">
                            <div class="text-2xl font-semibold">300 000</div>
                            <div class="flex flex-col items-start mt-1">
                                <div class="text-xs">ZŁ</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
