<div class="flex items-center justify-center h-screen">
    <div
        class="flex flex-col items-center justify-center gap-6 p-12 rounded-md shadow-md bg-neutral-950 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30"
    >
        <div class="text-6xl font-semibold">Create Account</div>

        <form
            [formGroup]="signupForm"
            (ngSubmit)="onSignup()"
            class="flex flex-col items-center justify-center gap-6"
        >
            <!-- <app-input [control]="loginForm.get('name')"></app-input> -->
            <div class="flex gap-8">
                <app-input
                    label="name"
                    type="text"
                    [control]="signupForm.controls.name"
                ></app-input>
                <app-input
                    label="last name"
                    type="text"
                    [control]="signupForm.controls.lastName"
                ></app-input>
            </div>

            <app-input
                class="w-full"
                label="username"
                type="text"
                [control]="signupForm.controls.username"
            ></app-input>

            <div class="flex w-full gap-8">
                <app-input
                    class="w-full"
                    label="email"
                    type="email"
                    [control]="signupForm.controls.email"
                ></app-input>
                <app-input
                    class="w-12"
                    label="age"
                    type="number"
                    [control]="signupForm.controls.age"
                ></app-input>
            </div>

            <app-input
                class="w-full"
                label="password"
                type="password"
                [control]="signupForm.controls.password"
            ></app-input>
            <app-input
                class="w-full"
                label="repeat password"
                type="password"
                [control]="signupForm.controls.repeatPassword"
            ></app-input>

            <div class="w-full mt-4">
                <button
                    type="submit"
                    [disabled]="signupForm.invalid"
                    class="w-full py-3 mb-2 text-lg transition-colors bg-indigo-700 rounded-md hover:bg-indigo-800"
                >
                    Sign In
                </button>
                <div class="text-xs text-center">
                    <span class="text-neutral-300"> Already a member? </span>
                    <a
                        routerLink="/login"
                        class="text-indigo-700 hover:underline"
                    >
                        Log in!
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    *ngIf="loginPromptVisibility"
    class="absolute flex items-center justify-center w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 backdrop-blur-8"
>
    <div
        class="p-16 text-center border-2 border-indigo-700 border-solid rounded-md shadow-md bg-neutral-950 bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-30"
    >
        <div class="mb-4 text-3xl">Looks like you already have an account.</div>

        Do you want to
        <a routerLink="/login" class="text-lg text-indigo-700 hover:underline">
            Log in
        </a>
        ?
    </div>
</div>
