<div
    *ngIf="user$ | async as user; else loading"
    class="h-full pt-6 pb-24"
    [ngClass]="{
        'h-screen': user.offers.length < 3,
    }"
>
    <div
        class="flex flex-col items-center gap-8 p-4 mx-auto rounded-xl max-w-7xl backdrop-blur-3xl bg-clip-padding backdrop-filter bg-neutral-950"
    >
        <div class="relative flex justify-between w-full mb-20">
            <div class="flex flex-col gap-1">
                <div class="text-5xl font-semibold">
                    {{ user.name.at(0)?.toUpperCase() + user.name.slice(1) }}
                    {{
                        user.lastname.at(0)?.toUpperCase() +
                            user.lastname.slice(1)
                    }}
                    <ng-container
                        *ngIf="
                            loggedUserUsername$ | async as loggedUserUsername
                        "
                    >
                        <span
                            *ngIf="user.username === loggedUserUsername"
                            class="text-3xl font-medium opacity-80"
                            >(You)</span
                        >
                    </ng-container>
                </div>
                <div class="text-lg opacity-70">@{{ user.username }}</div>
            </div>
            <div
                class="absolute flex flex-col items-center self-center gap-6 translate-x-1/2 right-1/2 top-4"
            >
                <div
                    class="border-4 border-white border-solid rounded-full w-36 h-36"
                >
                    <img
                        src="assets/svgs/user-5-svgrepo-com.svg"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>
            <div class="flex flex-col items-end gap-1">
                <div class="text-4xl">
                    Seller from <span class="font-semibold">2024</span>
                </div>
                <div class="text-lg opacity-70">
                    Available offers: {{ user.offers.length }}
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between w-full gap-4">
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
            <div class="text-3xl font-medium text-center whitespace-nowrap">
                Recent Offers
            </div>
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
        </div>
        <div class="flex flex-col self-center w-full gap-4">
            <ng-container *ngIf="user.offers.length > 0; else noOffersTemplate">
                <app-offer
                    *ngFor="let offer of user.offers.slice(0, 5)"
                    class="w-full"
                    [offerData]="offer"
                ></app-offer>
            </ng-container>

            <ng-template #noOffersTemplate>
                <div class="my-48 text-2xl font-semibold">
                    Nothing here, yet!
                </div>
            </ng-template>
        </div>

        <a
            *ngIf="user.offers.length > 5"
            routerLink="offers"
            class="flex items-center group"
        >
            <div
                class="text-2xl font-semibold transition-colors duration-300 group-hover:text-indigo-700"
            >
                See all
            </div>
            <div
                class="w-10 h-10 mt-1 transition-transform duration-300 -translate-x-1 group-hover:translate-x-0 stroke-indigo-700"
            >
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-700"
                        d="M10 7L15 12L10 17"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </a>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
