<div class="h-screen flex justify-center items-center">
    <div
        class="flex flex-col justify-center items-center gap-6 bg-neutral-950 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 shadow-md p-12"
    >
        <div class="text-6xl font-semibold">Welcome Back!</div>

        <form
            [formGroup]="loginForm"
            (ngSubmit)="onLogIn()"
            class="flex flex-col justify-center items-center gap-6 w-full"
        >
            <!-- <app-input [control]="loginForm.get('name')"></app-input> -->
            <app-input
                class="w-full"
                label="username"
                type="text"
                [control]="loginForm.controls.username"
            ></app-input>

            <app-input
                class="w-full"
                label="email"
                type="email"
                [control]="loginForm.controls.email"
            ></app-input>

            <div class="w-full">
                <app-input
                    label="password"
                    type="password"
                    [control]="loginForm.controls.password"
                ></app-input>
                <div
                    *ngIf="wrongPasswordErrorVisibility"
                    class="text-red-600 text-center text-xl mt-5"
                >
                    Incorrect password!
                </div>
            </div>

            <div class="w-full mt-4">
                <button
                    type="submit"
                    [disabled]="loginForm.invalid"
                    class="transition-colors w-full py-3 bg-indigo-700 hover:bg-indigo-800 rounded-md text-lg mb-2"
                >
                    Log In
                </button>
                <div class="text-xs text-center">
                    <span class="text-neutral-300">
                        Don't have an account yet?
                    </span>
                    <a
                        routerLink="/signup"
                        class="hover:underline text-indigo-700"
                    >
                        Join Now!
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    *ngIf="signupPromptVisibility"
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full flex justify-center items-center backdrop-blur-8"
>
    <div
        class="p-16 text-center border-2 border-solid border-indigo-700 bg-neutral-950 rounded-md bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-30 shadow-md"
    >
        <div class="mb-4 text-3xl">
            Looks like you don't have an account yet.
        </div>

        Do you want to
        <a routerLink="/signup" class="hover:underline text-indigo-700 text-lg">
            Sign up
        </a>
        ?
    </div>
</div>
