<ng-container *ngIf="isMultiSelect; else singleSelect">
    <div *ngIf="options.length > 10">
        <input
            type="text"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onDropdownPropertySearch()"
            placeholder="Search for property..."
            class="w-full h-16 pl-4 text-white bg-transparent outline-none"
        />
    </div>

    <div
        *ngIf="options.length === 0"
        class="p-4 text-center select-none opacity-60"
    >
        No results found.
    </div>

    <ul class="overflow-y-auto max-h-96">
        <ng-container
            *ngFor="
                let option of options | checkboxOptionsSorting : 'status';
                let i = index
            "
        >
            <li class="w-full">
                <label
                    [for]="option.id"
                    class="flex items-center justify-start w-full gap-4 px-4 py-4 transition-colors duration-300 rounded-md outline-none cursor-pointer hover:bg-neutral-900 focus:bg-neutral-900"
                    [ngClass]="{
                        'rounded-t-none': i === 0,
                        'opacity-60': option.status === 'unavailable',
                        'cursor-auto': option.status === 'unavailable',
                        'hover:bg-transparent': option.status === 'unavailable'
                    }"
                >
                    <input
                        #dropdownCheckbox
                        type="checkbox"
                        tabindex="-1"
                        [id]="option.id"
                        [checked]="option.status === 'checked'"
                        [disabled]="option.status === 'unavailable'"
                        (click)="onMultiSelectOptionClick(option)"
                        (change)="updateAnyOptionsCheckedState()"
                        [(ngModel)]="option.checked"
                        class="w-4 h-4 bg-white rounded-md accent-indigo-600 ring-indigo-600"
                    />
                    <div class="select-none">
                        {{ option.name | titlecase }}
                        <span class="font-semibold">
                            ({{ option.count }})
                        </span>
                    </div>
                </label>
            </li>
        </ng-container>
    </ul>

    <div
        class="flex w-full"
        *ngIf="isMultiSelect === true && options.length > 1"
    >
        <button
            class="w-1/2 py-4 text-lg font-semibold transition-transform duration-300"
            [ngClass]="{
            'opacity-60': !applyButtonAvailable,
            'hover:scale-105': applyButtonAvailable,
        }"
            [disabled]="!applyButtonAvailable"
            (click)="applyAllOptions()"
        >
            Apply
        </button>
        <button
            class="w-1/2 py-4 text-lg font-semibold transition-transform duration-300"
            [ngClass]="{
            'opacity-60': !clearButtonAvailable,
            'hover:scale-105': clearButtonAvailable,
        }"
            [disabled]="!clearButtonAvailable"
            (click)="clearAllOptions()"
        >
            Clear
        </button>
    </div>
</ng-container>

<ng-template #singleSelect>
    <ul class="overflow-y-auto max-h-96">
        <ng-container
            *ngFor="let option of singleSelectOptionsConverted; let i = index"
        >
            <li class="w-full">
                <label
                    [for]="option.name"
                    class="flex items-center justify-start w-full gap-4 px-4 py-4 transition-colors duration-300 rounded-md outline-none cursor-pointer hover:bg-neutral-900 focus:bg-neutral-900"
                    [ngClass]="{
                        'rounded-t-none': i === 0,
                    }"
                >
                    <input
                        type="checkbox"
                        tabindex="-1"
                        [id]="option.name"
                        [(ngModel)]="option.checked"
                        (click)="onSingleSelectOptionClick(option, $event)"
                        class="w-4 h-4 bg-white rounded-md cursor-pointer accent-indigo-600 ring-indigo-600"
                    />
                    <div class="select-none">
                        {{ option.name | titlecase }}
                    </div>
                </label>
            </li>
        </ng-container>
    </ul>
</ng-template>
