<div class="mx-auto py-28 max-w-screen-2xl">
    <div class="grid grid-cols-2">
        <div class="mt-48">
            <div class="font-semibold leading-tight tracking-tighter text-8xl">
                Do you want to, <br />
                <span class="text-indigo-800">sell</span>
                or,
                <span class="text-indigo-800">buy</span>
                a car?
            </div>
            <div class="mt-8 text-lg opacity-90">
                Macio Wearhouse, is a company operating in the industry, for
                over 20 years.<br />
                Known for the simplicity and smoothness of the entire sales or
                purchase process. <br />
                Used by milions, trusted by milions, loved by milions. This is
                us and our company.
            </div>
        </div>
        <div
            class="pb-56 mx-24 bg-gradient-to-br from-indigo-950 to-indigo-600 rounded-2xl"
        >
            <img
                src="assets/images/BMW-black.png"
                class="scale-125 mt-44"
                alt="BMW photo"
            />
        </div>
    </div>

    <div class="mt-40 text-center">
        <div class="text-6xl font-semibold leading-tight tracking-tighter">
            Don't wait,
            <a
                routerLink="/offers"
                class="text-indigo-700 transition-colors duration-300 hover:text-indigo-800"
                >start</a
            >
            now.
        </div>
        <div class="flex flex-col items-center gap-12 mt-8">
            <a
                routerLink="/offers"
                class="relative flex items-center w-2/5 cursor-pointer"
            >
                <input
                    type="text"
                    placeholder="Search for a specific car..."
                    class="w-full px-4 py-6 text-xl rounded-md shadow-md cursor-pointer bg-neutral-900 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 focus:outline focus:outline-indigo-700"
                />
                <button
                    tooltip="Search"
                    placement="right"
                    class="absolute w-10 h-10 rounded-md right-2 focus:outline focus:outline-indigo-700"
                >
                    <img
                        src="assets/svgs/search.svg"
                        class="w-full h-full"
                        alt="search icon"
                    />
                </button>
            </a>
            <div class="text-4xl font-semibold leading-tight tracking-tighter">
                or,
            </div>
            <button
                tooltip="Add offer"
                placement="right"
                (click)="onOfferAdd()"
                class="w-1/5 px-4 py-6 text-xl font-semibold transition-colors bg-indigo-700 rounded-md shadow-md hover:bg-indigo-800"
            >
                Add your offer
            </button>
        </div>
    </div>
</div>
