<div class="pt-28 grid grid-cols-2 max-w-screen-2xl mx-auto">
    <div class="mt-48">
        <div class="text-8xl tracking-tighter font-semibold leading-tight">
            Do you want to, <br />
            <span class="text-indigo-800">rent</span>
            a car?
        </div>
        <div class="mt-8 text-lg opacity-90">
            Macio Wearhouse, is a company operating in the industry, for over 20
            years<br />
            aspernatur modi aut architecto magni accusamus atque maiores
            reiciendis <br />
            eum earum! Molestiae explicabo accusamus voluptas et laboriosam
            sequi tenetur!
        </div>
    </div>
    <div
        class="mx-24 bg-gradient-to-b from-indigo-800 to-indigo-700 rounded-2xl pb-56"
    >
        <img
            src="assets/images/BMW-black.png"
            class="mt-44 scale-125"
            alt="BMW photo"
        />
    </div>
</div>
