<div class="py-28 max-w-screen-2xl mx-auto">
    <div class="grid grid-cols-2">
        <div class="mt-48">
            <div class="text-8xl tracking-tighter font-semibold leading-tight">
                Do you want to, <br />
                <span class="text-indigo-800">rent</span>
                a car?
            </div>
            <div class="mt-8 text-lg opacity-90">
                Macio Wearhouse, is a company operating in the industry, for
                over 20 years<br />
                aspernatur modi aut architecto magni accusamus atque maiores
                reiciendis <br />
                eum earum! Molestiae explicabo accusamus voluptas et laboriosam
                sequi tenetur!
            </div>
        </div>
        <div
            class="mx-24 bg-gradient-to-br from-indigo-950 to-indigo-600 rounded-2xl pb-56 shadow-md"
        >
            <img
                src="assets/images/BMW-black.png"
                class="mt-44 scale-125"
                alt="BMW photo"
            />
        </div>
    </div>
    <div class="mt-32 text-center">
        <div class="text-6xl tracking-tighter font-semibold leading-tight">
            Don't wait, start
            <span class="text-indigo-800">renting</span>
            now.
        </div>
        <div class="flex flex-col items-center gap-12 mt-8">
            <div class="flex items-center relative w-2/5">
                <input
                    type="text"
                    placeholder="Search for a specific car..."
                    class="py-6 px-4 bg-neutral-950 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 w-full focus:outline focus:outline-indigo-700 text-xl shadow-md"
                />
                <button class="w-10 h-10 absolute right-2">
                    <img
                        src="assets/svgs/search.svg"
                        class="w-full h-full"
                        alt="search icon"
                    />
                </button>
            </div>
            <div class="text-4xl tracking-tighter font-semibold leading-tight">
                or,
            </div>
            <button
                (click)="onOfferAdd()"
                class="px-4 py-6 bg-indigo-700 hover:bg-indigo-800 rounded-md w-1/5 shadow-md text-xl"
            >
                Add your offer
            </button>
        </div>
    </div>
</div>
