<div class="h-full max-w-6xl py-24 mx-auto">
    <div class="relative flex flex-col max-w-6xl gap-2 mt-6">
        <div class="absolute z-40 flex justify-center w-full gap-2">
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(0, 5); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div class="absolute z-30 flex justify-center w-full gap-2 mt-16">
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(5, 10); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div
            *ngIf="filtersVisibility"
            class="absolute z-20 flex flex-wrap justify-center w-full gap-2 mt-32"
        >
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(10, 15); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div
            *ngIf="filtersVisibility"
            class="absolute z-10 flex flex-wrap justify-center w-full gap-2 mt-48"
        >
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(15, 17); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>

        <div
            class="flex items-center self-center justify-center w-11/12 gap-4 mt-32"
            [ngClass]="{
            'mt-64': filtersVisibility,
        }"
        >
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>

            <button
                type="button"
                (click)="toggleFiltersVisiblity()"
                class="flex items-center text-lg font-semibold group whitespace-nowrap"
            >
                <div
                    class="font-semibold transition-colors duration-300 group-hover:text-indigo-700"
                >
                    {{
                        filtersVisibility
                            ? "Hide all filters"
                            : "Show all filters"
                    }}
                </div>
                <div
                    class="w-8 h-8 mt-1 transition-transform duration-300 group-hover:rotate-180 stroke-indigo-700"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-700"
                            d="M7 10L12 15L17 10"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
            </button>

            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
        </div>
    </div>

    <div class="flex justify-between w-11/12 mx-auto mt-4">
        <div class="flex flex-col text-5xl font-semibold">
            <div class="text-xl font-normal">Suitable offers found:</div>
            312 43
        </div>
        <div class="flex flex-col gap-2">
            <div class="text-xl font-medium">Sorting By:</div>
            <div class="relative">
                <app-dropdown-menu
                    class="absolute right-0 z-50 translate-x-2"
                    [dropdownName]="'Sorting'"
                    [dropdownOptions]="[
                        'Recently added',
                        'Oldest',
                        'Most expensive',
                        'Least expensive',
                        'Newest cars',
                        'Oldest cars',
                        'Least mileage',
                        'Most mileage',
                        'Least hp',
                        'Most hp'
                    ]"
                    [dropdownMultiselect]="false"
                ></app-dropdown-menu>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-11/12 gap-4 mx-auto mt-10">
        <div
            *ngIf="sellerOffers$ | async as offers; else loading"
            class="flex flex-col items-center w-full gap-6 mt-12"
        >
            <app-offer
                *ngFor="let offer of offers"
                [offerData]="offer"
                class="w-full max-w-6xl"
            ></app-offer>
        </div>

        <ng-template #loading>
            <app-loading></app-loading>
        </ng-template>
    </div>
</div>
