<div
    *ngIf="sellerOffers.length > 0; else loading"
    class="h-full max-w-6xl pt-24 pb-12 mx-auto"
>
    <div class="relative flex flex-col max-w-6xl gap-2 mt-6">
        <div class="absolute z-40 flex justify-center w-full gap-2">
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(0, 5); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div class="absolute z-30 flex justify-center w-full gap-2 mt-16">
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(5, 10); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div
            *ngIf="filtersVisibility"
            class="absolute z-20 flex flex-wrap justify-center w-full gap-2 mt-32"
        >
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(10, 15); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>
        <div
            *ngIf="filtersVisibility"
            class="absolute z-10 flex flex-wrap justify-center w-full gap-2 mt-48"
        >
            <app-dropdown-menu
                *ngFor="let dropdown of dropdowns.slice(15, 17); let i = index"
                [dropdownName]="dropdown.dropdownName"
                [dropdownOptions]="dropdown.dropdownOptions"
                [dropdownMultiselect]="dropdown.dropdownMultiselect"
            ></app-dropdown-menu>
        </div>

        <div
            class="flex items-center self-center justify-center w-11/12 gap-4 mt-32"
            [ngClass]="{
            'mt-64': filtersVisibility,
        }"
        >
            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>

            <button
                type="button"
                (click)="toggleFiltersVisiblity()"
                class="flex items-center text-lg font-semibold group whitespace-nowrap"
            >
                <div
                    class="font-semibold transition-colors duration-300 group-hover:text-indigo-700"
                >
                    {{
                        filtersVisibility
                            ? "Hide all filters"
                            : "Show all filters"
                    }}
                </div>
                <div
                    class="w-8 h-8 mt-1 transition-transform duration-300 group-hover:rotate-180 stroke-indigo-700"
                >
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            class="transition-colors duration-300 stroke-white group-hover:stroke-indigo-700"
                            d="M7 10L12 15L17 10"
                            stroke="#ffffff"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
            </button>

            <div
                class="w-full mt-1 border border-white border-solid rounded-md"
            ></div>
        </div>
    </div>

    <div class="flex justify-between w-11/12 mx-auto mt-4">
        <div class="flex flex-col gap-2">
            <div class="text-xl font-medium">Order by:</div>
            <div class="relative">
                <app-dropdown-menu
                    class="absolute left-0 z-50 -translate-x-2"
                    [dropdownName]="'Ordering'"
                    [dropdownOptions]="['Ascending', 'Descending']"
                    [dropdownMultiselect]="false"
                ></app-dropdown-menu>
            </div>
        </div>
        <div class="flex flex-col items-center text-5xl font-semibold">
            <div class="text-xl font-normal">Suitable offers found:</div>
            {{ offersAmount }}
        </div>
        <div class="flex flex-col gap-2">
            <div class="text-xl font-medium">Sort By:</div>
            <div class="relative">
                <app-dropdown-menu
                    class="absolute right-0 z-50 translate-x-2"
                    [dropdownName]="'Sorting'"
                    [dropdownOptions]="[
                        'Recently added',
                        'Oldest',
                        'Most expensive',
                        'Least expensive',
                        'Newest cars',
                        'Oldest cars',
                        'Least mileage',
                        'Most mileage',
                        'Least hp',
                        'Most hp'
                    ]"
                    [dropdownMultiselect]="false"
                ></app-dropdown-menu>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-11/12 gap-4 mx-auto mt-10">
        <div class="flex flex-col items-center w-full gap-6 mt-12">
            <app-offer
                *ngFor="let offer of sellerOffers"
                [offerData]="offer"
                class="w-full max-w-6xl"
            ></app-offer>
        </div>
    </div>

    <div class="flex flex-col items-center gap-2">
        <div
            class="flex items-center justify-center w-11/12 gap-4 mx-auto mt-16"
        >
            <button
                class="flex items-center justify-center w-12 h-12 transition-colors duration-300 rounded-md shadow-md cursor-pointer drop-shadow-md shadow-black bg-neutral-950 backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter hover:bg-indigo-700 group"
            >
                <img
                    src="assets/svgs/arrow-left-5-svgrepo-com.svg"
                    class="w-10 h-10 transition-transform group-hover:-translate-x-0.5"
                    alt="left arrow icon"
                />
            </button>

            <div
                class="flex text-xl rounded-md shadow-md select-none drop-shadow-md shadow-black bg-neutral-950 backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter"
            >
                <a
                    *ngFor="
                        let page of [].constructor(pagesAmount);
                        let i = index
                    "
                    class="flex items-center justify-center w-12 h-12 transition-all duration-300 rounded-md cursor-pointer hover:bg-indigo-700 hover:-translate-y-1"
                    [ngClass]="{
                        'bg-indigo-700': i + 1 === currentPage,
                    }"
                    >{{ i + 1 }}</a
                >
            </div>

            <button
                type="button"
                class="flex items-center justify-center w-12 h-12 transition-colors duration-300 rounded-md shadow-md cursor-pointer drop-shadow-md shadow-black bg-neutral-950 backdrop-blur-3xl bg-opacity-90 bg-clip-padding backdrop-filter hover:bg-indigo-700 group"
            >
                <img
                    src="assets/svgs/right-arrow-svgrepo-com.svg"
                    class="w-10 h-10 transition-transform group-hover:translate-x-0.5"
                    alt="right arrow icon"
                />
            </button>
        </div>
        <div class="text-xs opacity-50">
            {{ currentPage }} of {{ pagesAmount }}
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
