<div class="flex items-start justify-center h-screen pt-24">
    <div class="flex justify-between gap-4">
        <app-dropdown-menu
            [dropdownName]="'Sorting'"
            [dropdownOptions]="[
                'Recently added',
                'Oldest',
                'Most expensive',
                'Least expensive',
                'Newest cars',
                'Oldest cars',
                'Least mileage',
                'Most mileage',
                'Least hp',
                'Most hp'
            ]"
            [dropdownMultiselect]="false"
        ></app-dropdown-menu>
    </div>
</div>
