<div
    *ngIf="favouriteOffers$ | async as favouriteOffers; else loading"
    class="relative flex flex-col items-center w-full gap-6 mx-auto mt-12 max-w-7xl"
>
    <ng-container *ngIf="favouriteOffers.length > 0; else noOffers">
        <app-offer
            *ngFor="let offer of favouriteOffers"
            [offerData]="offer"
            class="w-full"
        ></app-offer>
    </ng-container>
    <ng-template #noOffers>
        <div class="self-center text-center opacity-80">
            <h1 class="mb-2 text-4xl font-semibold">
                You dont have any favourite offers yet!
            </h1>
            <div>Click the bookmark icon on the offer you like, to add one</div>
        </div>
    </ng-template>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
