::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
    background: #ffffff;
    border-radius: 4px;
    height: 6px;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
    background-color: rgb(67 56 202);
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
    border: 2px solid #fff;
    width: 22px;
    height: 22px;
    top: auto;
    bottom: -10px;
    background-color: rgb(67 56 202);
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
    color: white !important;
    font-weight: bold !important;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-limit {
    color: rgb(163 163 163) !important;
    font-weight: normal !important;
}
