<div>
    <input
        type="text"
        placeholder="Enter number manually..."
        [(ngModel)]="currentNumberInputValue"
        (input)="onNumberInput()"
        [maxlength]="10"
        [mask]="ngxMask"
        [suffix]="' ' + suffix"
        class="w-full h-16 pl-4 font-semibold text-white bg-transparent outline-none"
    />
</div>

<div class="mx-4">
    <input
        type="range"
        [(ngModel)]="currentRangeInputValue"
        (input)="onRangeInput()"
        value="1000"
        [min]="minVal"
        [max]="maxVal"
        class="w-full h-2 rounded-md cursor-pointer bg-neutral-800 text-neutral-950 accent-indigo-700"
    />
    <div
        class="flex items-center justify-between w-full pt-2 text-sm opacity-60"
    >
        <div>Min {{ minVal }}</div>
        <div>Max {{ maxVal }}</div>
    </div>
</div>

<div class="flex w-full">
    <button
        (click)="applyInputValues()"
        class="w-1/2 py-4 text-lg font-semibold transition-transform duration-300"
        [ngClass]="{
            'opacity-60': applyButtonDisabled,
            'hover:scale-105': !applyButtonDisabled,
        }"
        [disabled]="applyButtonDisabled"
    >
        Apply
    </button>
    <button
        (click)="clearInputValues()"
        class="w-1/2 py-4 text-lg font-semibold transition-transform duration-300"
        [ngClass]="{
            'opacity-60': clearButtonDisabled,
            'hover:scale-105': !clearButtonDisabled,
        }"
        [disabled]="clearButtonDisabled"
    >
        Clear
    </button>
</div>
