<div class="py-28 h-screen">
    <div
        class="absolute top-36 left-1/2 -translate-x-1/2 flex justify-center items-start gap-28 mb-12 z-10"
    >
        <div class="border-solid border-black border-2 rounded">
            <button class="px-3 py-3 rounded flex items-center gap-28">
                List name
                <svg
                    class="w-2.5 h-2.5 ml-2.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 4 4 4-4"
                    />
                </svg>
            </button>
            <ul>
                <label
                    class="flex justify-between px-4 py-4 items-center bg-white hover:bg-neutral-200 cursor-pointer"
                >
                    <input
                        type="checkbox"
                        class="accent-black cursor-pointer w-4 h-4"
                    />
                    <div class="cursor-pointer">label</div>
                </label>
            </ul>
        </div>
        <div class="text-center border-2 border-black"></div>
    </div>
</div>
